<div>
  <h3>custom values add to the counter</h3>
  <div>
    <input type="number" placeholder="enter the number" [(ngModel)]="value">&nbsp;
    <button (click)="onAdd()">Add to counter</button>
  </div>
</div>


<div>
  <h3>CRUD in state management</h3>


  <div>
    <input type="number" placeholder="enter the number" [(ngModel)]="newValue">&nbsp;
    <button (click)="onAddPost()">{{ getDataPermission ? 'update' : 'add'}}</button>&nbsp;
    <button (click)="onEditPost()" *ngIf="!getDataPermission">Update</button>&nbsp;
    <button (click)="onDeletePost()">Delete</button>&nbsp;
  </div>
</div>