.userForm{
    margin-top: 20px;
  }
  
  input[type = password]{
    margin-top: 10px;
    margin-left: 20px;
  }
  
  input[type = text]{
    margin-top: 5px;
    margin-left: 43px;
  }
  
  button{
    margin-top: 20px;
  }
  
  span{
    color: red;
  }
  